$font-family: 'Open Sans', sans-serif;
$background-color: #404041;
$highlight: #EB008B;
$main-color: #FFFFFF;
$border-color: #D0D2D3;


header {
 text-align: center;
 background-color: $background-color;
 color: $highlight;
 font-family: $font-family;
 font-weight: 700;
 font-size: 55px;
 padding: 5% 5%;
 }

 body {
  font-family: $font-family;
  text-align: center;
 }

#message {
  color: #ED458B ;
  font-size: 192px;
  margin: 10px;
}

 button {
 font-family: 'Open Sans', sans-serif;
 background-color: $border-color ;
 border: none;
 color: $main-color ;
 text-align: center;
 margin: 44px 14px 14px 14px;
 width: 196px;
 font-size: 27px;
 font-weight: 300;
 border-radius: 20px;
 outline: none;
 padding: 2px;
}

.inputfield {
 margin: 12px 0;
 padding: 35px 0;
}

#inputbox {
 width: 263px;
 height: 34px;
 font-size: 27px;
 font-weight: 300;
 color: $background-color ;
 border: 2px solid $border-color ;
 font-family: 'Open Sans', sans-serif;
 padding: 3px 0 4px 10px;
 }
